.results-main {
  display: flex;
  flex-direction: column;
  width: 100%;
  //   height: 100px;
  height: 100vh;
  //   background-color: rgb(153, 151, 151);
  .nav-container {
    display: flex;
    background-color: #6772e5;
    padding-bottom: 35px;
    padding-top: 35px;
  }
  .files-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: rgb(202, 81, 81);
    width: 100%;
    margin-top: 20px;
    height: 100%;
    .h1-container {
      display: flex;
      //   background-color: red;
      width: 50%;
      color: rgba(15, 15, 15, 0.829);
    }
    .files-header {
      display: flex;
      justify-content: space-around;
      width: 50%;
      padding: 5px;
      //   background-color: rgb(216, 216, 216);
      background-color: #f6f6f6;
      background-image: linear-gradient(315deg, #f6f6f6 0%, #e9e9e9 74%);
      box-shadow: 0 3px 6px -6px;
      font-size: 18px;
    }
    .file {
      display: flex;
      //   justify-content: space-around;
      justify-content: flex-start;
      width: 50%;
      padding: 10px;
      margin-top: 5px;
      //   background-color: orange;
      //   border-right: 1px solid black;
      font-size: 18px;
      border-bottom: 1px solid #e6e6e6;

      .header-zero {
        display: flex;
        // background-color: red;
        // height: 20px;
        // width: 20px;
        // position: relative;
        // right: 20px;
      }

      .titles-containers {
        display: flex;
        width: 100%;
        justify-content: center;
        // background-color: blue;
        // border-right: 1px solid black;
      }
    }
    .file:hover {
      background-color: rgba(241, 241, 241, 0.582);
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
