.profile-main {
  display: flex;
  flex-direction: column;
  //   background-color: rgb(177, 75, 75);
  // height: 100vh;
  .profile-main-header {
    display: flex;
    background-color: #6772e5;
    padding-bottom: 15px;
    padding-top: 35px;
  }
  .main-content-container {
    .delete-modal {
      display: flex;
      // justify-content: center;
      flex-direction: column;
      position: absolute;
      background-color: rgb(245, 245, 245);
      border: 1px solid rgba(0, 0, 0, 0.26);
      border-radius: 5px;
      left: 45%;
      top: 15%;
      z-index: 400;
      transform: translate(-45%);
      width: 350px;
      height: 183px;
      // padding: 15px;
      .delete-header {
        display: flex;
        align-items: center;
        background-color: rgb(233, 233, 233);
        border-bottom: 1px solid rgb(180, 180, 180);
        width: 100%;
        height: 23px;
        color: red;
      }
      .delete-content {
        font-size: 17px;
        font-weight: bold;
        padding: 20px;
      }
      .delete-button-container {
        display: flex;
        justify-content: center;
        .cancel-button {
          font-size: 20px;
          padding: 2px 10px;
          margin-right: 10px;
          border-radius: 3px;
          cursor: pointer;
          color: white;
          background-color: rgb(19, 171, 241);
          border: 1px solid rgb(19, 171, 241);
          outline: none;
        }
        .delete-button {
          font-size: 20px;
          margin-left: 10px;
          border-radius: 3px;
          padding: 0px 15px;
          color: black;
          background-color: white;
          border: 1px solid rgb(192, 192, 192);
          cursor: pointer;
          outline: none;
        }
      }
    }
    display: flex;
    // background-color: green;
    .left-main {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 85%;
      height: 100vh;
      // background-color: rgb(170, 79, 79);

      .files-main-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // margin-top: 20px;
        // background-color: orange;
        width: 50%;

        .h1-container {
          display: flex;
          // background-color: orange;
          width: 100%;
          // margin-left: 30px;
          h1 {
            margin-left: 37px;
          }
        }
        input {
          height: 30px;
          width: 100%;
          font-size: 22px;
          margin-left: 40px;

          outline: none;
          padding-left: 35px;
          background: url(../../images/search.png);
          background-repeat: no-repeat;
          background-size: 26px;
          background-position-y: center;
          background-position: 5px;
          border: 2px solid rgba(0, 0, 0, 0.651);
          // ../../images/search.png
        }
      }
      .refresh-container {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        // background-color: red;
        margin-top: 15px;
        font-size: 30px;
        button {
          border-radius: 2px;
          // border: none;
          border: 1px solid black;
          font-size: 15px;
          cursor: pointer;
          outline: none;
        }
        button:hover {
          background-color: rgb(233, 233, 233);
        }
      }
      .files-main {
        display: flex;
        flex-direction: column;
        // background-color: rgb(192, 192, 192);
        // margin-top: 20px;
        // padding: 30px 0px;
        // height: 50%;
        width: 100%;

        .file-container {
          display: flex;
          // background-color: green;
          background-color: rgba(218, 218, 218, 0.144);
          // background-color: white;
          // padding-bottom: 5px;
          margin: 10px;
          font-size: 20px;
          border-bottom: 1px solid rgb(201, 221, 245);
          border-top: 1px solid rgb(201, 221, 245);

          .title-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 20%;
            border-right: 1px solid rgb(201, 221, 245);
            border-left: 1px solid rgb(201, 221, 245);
            // border-right: 1px solid rgb(204, 204, 204);
          }
          .type-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            // border-right: 1px solid rgb(204, 204, 204);
            // border-bottom: 1px solid rgb(201, 221, 245);
            border-right: 1px solid rgb(201, 221, 245);
            width: 20%;
          }
          .size-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            // border-right: 1px solid rgb(204, 204, 204);
            border-right: 1px solid rgb(201, 221, 245);
            width: 20%;
          }
          .date-container {
            display: flex;
            align-items: center;
            // border-right: 1px solid rgb(204, 204, 204);
            border-right: 1px solid rgb(201, 221, 245);
            flex-direction: column;
            width: 20%;
          }
          .stars-container {
            display: flex;
            align-items: center;
            flex-direction: column;
            // border-right: 1px solid rgb(204, 204, 204);
            border-right: 1px solid rgb(201, 221, 245);
            width: 20%;
          }
          .delete-container {
            display: flex;
            align-items: center;
            // border-right: 1px solid rgb(204, 204, 204);
            border-right: 1px solid rgb(201, 221, 245);
            flex-direction: column;
            width: 20%;
            .download-button {
              margin-right: 8px;
              // height: 10px;
              font-size: 15px;
              padding: 1px 5px;
              border-radius: 3px;
              background-color: #0467b8c9;
              border: 1px solid #0467b8c9;
              color: white;
              cursor: pointer;
              text-decoration: none;
            }
            .delete-button {
              font-size: 16px;
              padding: 2.5px 5px;
              border-radius: 3px;
              background-color: rgb(241, 54, 54);
              border: 1px solid rgb(241, 54, 54);
              color: white;
              cursor: pointer;
            }
            .delete-button:hover {
              background-color: rgb(209, 44, 44);
              border: 1px solid rgb(209, 44, 44);
            }
            .download-button:hover {
              background-color: #0c548fc9;
              border: 1px solid #0c548fc9;
            }
          }
        }
      }
    }
    .right-main {
      display: flex;
      flex-direction: column;
      width: 15%;
      // height: 100vh;
      // background-color: rgb(68, 107, 165);
      .right-header {
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 130px;
        margin-top: 45px;
        // background-color: red;
        h3 {
          margin-left: 42px;
        }
      }
      .filters-container {
        display: flex;
        flex-direction: column;
        // justify-content: center;
        // align-items: flex-start;
        // background-color: red;
        margin-left: 30px;
        .checkbox-containers {
          display: flex;
          // background-color: red;
          // justify-content: center;
          // flex-direction: column;
          align-items: center;
          margin: 10px;
          font-size: 18px;
        }
        input[type="checkbox"] {
          // -webkit-appearance: none;
          // margin: 10px;
          width: 20px;
          height: 20px;
          background: white;
          border-radius: 5px;
          border: 2px solid #555;
        }
        input[type="checkbox"]:checked {
          background: #abd;
        }
      }
    }
  }
}
