.modal-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  //   background-color: rgb(156, 68, 68);
  background-color: white;
  width: 400px;
  height: 460px;
  left: 50%;
  top: 50%;
  z-index: 400;
  transform: translate(-45%);
  .modal-header {
    display: flex;
    z-index: 400;
    width: 100%;
    background-color: rgb(226, 226, 226);
    justify-content: center;
    height: 60px;
    .login-tab {
      display: flex;
      font-family: "Open Sans", sans-serif;
      justify-content: center;
      align-items: center;
      //   background-color: blue;
      font-size: 25px;
      //   padding: 15px;
      width: 50%;
      cursor: pointer;
      z-index: 400;
    }
    .signup-tab {
      z-index: 400;
      display: flex;
      justify-content: center;
      align-items: center;
      //   background-color: orange;
      font-size: 25px;
      //   padding: 15px;
      width: 50%;
      cursor: pointer;
      z-index: 400;
    }
  }
  .form-container {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    margin-top: 50px;
    z-index: 400;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 500;
    // background-color: rgb(158, 102, 102);
    input {
      width: 75%;
      height: 35px;
      font-size: 20px;
      margin: 20px;
      padding-left: 5px;
      border: 1px solid black;
    }
    button {
      margin-top: 5px;
      width: 75%;
      height: 35px;
      font-size: 20px;
      background-color: #6772e5;
      border: 1px solid #6772e5;
      color: white;
      cursor: pointer;
      z-index: 400;
    }
    button:hover {
      background-color: #5a63cc;
      border: 1px solid #5a63cc;
      z-index: 400;
    }
  }
}

// .backdrop {
//   position: fixed;
//   height: 100vh;
//   width: 100vw;
//   z-index: 5;
//   cursor: pointer;
//   background-color: rgba($color: black, $alpha: 0.7);
// }
