.footer-container {
  display: flex;
  //   position: fixed;
  justify-content: center;
  background-color: #6772e5;
  //   background-color: rgba(245, 245, 245, 0.849);
  height: 90px;
  width: 100%;
  // position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;

  .footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(236, 236, 236);
    width: 33%;
    // background-color: red;
    .contact-header-container {
      display: flex;
      font-size: 22px;
      //   width: 35%;
      margin-bottom: 5px;
      justify-content: flex-start;
    }
  }
  .footer-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    // background-color: green;
    .logo-container {
      display: flex;
      width: 60px;
      height: 60px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .footer-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    color: rgb(236, 236, 236);
    // background-color: blue;
  }
}

@media (max-width: 770px) {
  .footer-container {
    .footer-right {
      font-size: 14px;
    }
  }
}

@media (max-width: 400px) {
  .footer-container {
    justify-content: space-around;
    .footer-middle {
      width: 20%;
      display: none;
      .logo-container {
        display: flex;
        width: 40px;
        height: 40px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .footer-left {
      width: 50%;
      font-size: 13px;
    }
    .footer-right {
      // width: 40%;

      font-size: 13px;
      span {
        text-align: center;
      }
    }
  }
}
